<footer class="mt-lg-7 pt-7 py-3" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container">
        <!-- Footer 4 column -->
        <div class="row">
            <!-- Left Side: 4 Columns -->
            <div class="col-lg-9 col-12">
                <div class="row" id="ft-links">
                    <!-- Column 1: Service -->
                    <div class="col-lg-3 col-12">
                        <div class="position-relative">
                            <!-- Header with Toggle Button -->
                            <div class="mb-3 pb-2 d-flex justify-content-between">
                                <h4 class="text-white">DSA</h4>
                                <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse" href="#collapseLanding" role="button" aria-expanded="false" aria-controls="collapseLanding">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                            <!-- Collapsible Content -->
                            <div class="collapse d-lg-block" id="collapseLanding" data-bs-parent="#ft-links">
                                <ul class="list-unstyled mb-0 py-3 py-lg-0">
                                    <ul class="list-unstyled">
                                        <li class="mb-2">
                                            <a href="#!" class="text-decoration-none text-body-secondary">Data Structures</a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="#!" class="text-decoration-none text-body-secondary">Algorithms</a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="#!" class="text-decoration-none text-body-secondary">DSA for Beginners</a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="#!" class="text-decoration-none text-body-secondary">Basic DSA Problems</a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="#!" class="text-decoration-none text-body-secondary">DSA Roadmap</a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="#!" class="text-decoration-none text-body-secondary">DSA Interview Questions</a>
                                        </li>
                                        <li class="mb-2">
                                            <a href="#!" class="text-decoration-none text-body-secondary">Competitive Programming</a>
                                        </li>
                                    </ul>


                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Column 2: About Us -->
                    <div class="col-lg-4 col-12">
                        <div>
                            <!-- Header with Toggle Button -->
                            <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
                                <h4 class="text-white">Programs</h4>
                                <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse" href="#collapseAccounts" role="button" aria-expanded="false" aria-controls="collapseAccounts">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                            <!-- Collapsible Content -->
                            <div class="collapse d-lg-block" id="collapseAccounts" data-bs-parent="#ft-links">
                                <ul class="list-unstyled mb-0 py-3 py-lg-0">
                                    <li class="mb-2">
                                        <a href="/leetcodex" class="text-decoration-none text-body-secondary">LeetCode</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-decoration-none text-body-secondary">CodeChef</a>
                                    </li>
                                    <li class="mb-2">
                                        <a href="#!" class="text-decoration-none text-body-secondary">Geeks for Geeks</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Column 3: Technology -->
                    <div class="col-lg-4 col-12">
                        <div class="mb-3 pb-2 d-flex justify-content-between position-relative">
                            <h4 class="text-white">Languages</h4>
                            <a class="d-block d-lg-none stretched-link text-body" data-bs-toggle="collapse" href="#collapseResources" role="button" aria-expanded="false" aria-controls="collapseResources">
                                <i class="bi bi-chevron-down"></i>
                            </a>
                        </div>
                        <!-- Collapsible Content -->
                        <div class="collapse d-lg-block" id="collapseResources" data-bs-parent="#ft-links">
                            <ul class="list-unstyled mb-0 py-3 py-lg-0">
                                <li class="mb-2">
                                    <a href="../docs/index.html" class="text-decoration-none text-body-secondary">Java</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#!" class="text-decoration-none text-body-secondary">JavaScript</a>
                                </li>
                                <li class="mb-2">
                                    <a href="../changelog.html" class="text-decoration-none text-body-secondary">Postgres Sql</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#!" class="text-decoration-none text-body-secondary">MySQL</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#!" class="text-decoration-none text-body-secondary">SpringBoot</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#!" class="text-decoration-none text-body-secondary">HTML</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#!" class="text-decoration-none text-body-secondary">CSS</a>
                                </li>
                                <li class="mb-2">
                                    <a href="#!" class="text-decoration-none text-body-secondary">Bootstrap</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Side: Headquarters -->
            <div class="col-lg-3 col-12">
                <div class="me-7">
                    <h4 class="text-white mb-4">Headquarters</h4>
                    <p class="text-body-secondary">Codescandy, 412, Residency Rd, Shanthala Nagar, Ashok Nagar, Bengaluru, Karnataka, India 560025</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3 pt-lg-3 pb-3 mb-3">
        <div class="row align-items-center">
            <div class="col-md-3">
                <a class="mb-4 mb-lg-0 d-block" href="#">
                    <img class="header-logo header-logo-x" th:src="@{/images/logo.png}" alt="logo-codeBank">
                </a>
            </div>
            <div class="col-md-9 col-lg-6">
                <div class="small mb-3 mb-lg-0 text-lg-center">
                    Copyright © 2025

                    <span class="text-primary"><a href="#">Abu Huzaifa</a></span>
                    | Designed by
                    <span class="text-primary"><a href="#">Abu Huzaifa</a></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-md-end">
                    <a href="#" class="text-reset btn btn-instagram btn-icon">FACE</a>
                    <a href="#" class="text-reset btn btn-facebook btn-icon">INSTA</a>
                    <a href="#" class="text-reset btn btn-twitter btn-icon">X-Twit</a>
                </div>
            </div>
        </div>
    </div>
</footer>
